.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-wrap {
  padding-left: 6px;
}

#MainView {
  // min-height: 100vh;

  //左边logo加菜单
  .mainSider{
    min-height: 100vh;
    position: relative;

    background-color: '#fff';
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 79px;
      background: #fff;
      border-bottom: 3px solid #61dafb;

      img {
        height: 90%;
      }
    }
    .menu-wrap{
      position: absolute;
      top: 79px;
      bottom: 0;
      width:100%;
      z-index: 2;
      box-shadow: 0px 0px 4px #999;
      overflow: auto;
      background: #fff;
      padding-bottom: 20px;
      box-sizing: border-box;
      .ant-menu-item.navMaxClick.ant-menu-item-selected{
        background: #61dafb;
        color:#fff;
        border-right: 3px solid #00666a;
      }
    }
  }

  //展开/收起图标
  .trigger {
    font-size: 32px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
    color: #61dafb;
  }
  .spinClass{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .5);
    z-index: 2000;
  }
}
