.ant-layout-sider  {
  height: calc(100vh);
}
.mainSider {
  overflow: auto;
}
.autoRouterContainer {
  display: block !important;
}
.ant-collapse-arrow {
  left: auto !important;
}
.otherCollapse .arrow {
  left: inherit !important;
}
.content_layout {
  overflow: auto;
}