.LoginView {
    width: 100%;
    padding: 80px;
    background: #eee;
    .LoginView_Form {
        background: #ffffff;
        width: 380px;
        height: 300px;
        padding: 20px;
        margin: 0px auto;
        box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
        // .ant-input-group .ant-input {
        //     height: 32px !important;
        // }
    }
}
